@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow: hidden; }

.wrap {
  width: 100%;
  height: 100vh;
  background-color: #19181A; }
  .wrap .header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    padding-top: 2%;
    padding-right: 10%; }
    .wrap .header .header__box .logo__box {
      width: 200px;
      height: 90px;
      display: flex;
      align-items: center; }
      .wrap .header .header__box .logo__box .img__logo {
        width: 40px;
        height: 70px; }
      .wrap .header .header__box .logo__box .logo__text {
        margin-left: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        position: relative;
        top: 10%; }
    .wrap .header .header__box .header__h1 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      letter-spacing: 0.065em;
      color: #FFFFFF; }
    .wrap .header .nav {
      display: flex; }
      .wrap .header .nav .nav__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.065em;
        color: #FFFFFF;
        margin: 5%;
        cursor: pointer;
        transition: 0.5s; }
      .wrap .header .nav .nav__text:hover {
        color: #E14025;
        transition: 0.5s; }
      .wrap .header .nav :nth-child(2) {
        color: #E14025; }
  .wrap .main {
    width: 100%;
    height: 80vh;
    display: flex; }
    .wrap .main .main__left {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrap .main .main__left .name__pizza {
        transform: rotate(90deg);
        position: relative;
        right: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        color: rgba(255, 255, 255, 0.8); }
      .wrap .main .main__left .pizaa__box {
        width: 500px;
        height: 500px;
        position: absolute;
        right: 88%;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .wrap .main .main__left .pizaa__box .pizza__ctructura {
          width: 480px;
          height: 480px;
          border: 5px solid #E14025;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: 1s; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(1) {
            position: absolute;
            right: 90%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(2) {
            position: absolute;
            right: 75%;
            bottom: 75%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(3) {
            position: absolute;
            left: 75%;
            top: 75%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(4) {
            position: absolute;
            bottom: 90%;
            right: 40%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(5) {
            position: absolute;
            top: 90%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(6) {
            position: absolute;
            left: 75%;
            bottom: 75%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(7) {
            position: absolute;
            right: 75%;
            top: 75%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura :nth-child(8) {
            position: absolute;
            left: 90%; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .piiza__ingredient {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #19181A;
            position: absolute;
            background-size: cover; }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza1 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2017/11/Pitstsa-Vegano.png.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza2 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2019/09/Picca-Chiken-Chiz.png.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza3 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2017/11/Pitstsa-Neapolitanskaya.png.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza4 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2020/12/Gurme_sait.jpg.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza5 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2017/11/Pitstsa-TSezar-.png.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza6 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2021/03/Picca_sait_Proshutto-1-1.jpg.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza7 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2017/11/Pitstsa-Margarita.png.webp); }
          .wrap .main .main__left .pizaa__box .pizza__ctructura .pizza8 {
            background-image: url(https://pablito.com.ua/wp-content/uploads/2017/11/Pitstsa-4-sy-ra.png.webp); }
    .wrap .main .main__right {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 5%; }
      .wrap .main .main__right .contant__ingredients {
        width: 450px;
        height: auto;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 30px; }
        .wrap .main .main__right .contant__ingredients .ingtagients__titel {
          font-family: 'Poppins';
          font-weight: 700;
          font-size: 32px;
          color: #000; }
        .wrap .main .main__right .contant__ingredients .ingradient__desription-box {
          width: 100%;
          height: auto;
          display: flex;
          margin-top: 30px;
          border-left: 2px solid #e94747; }
          .wrap .main .main__right .contant__ingredients .ingradient__desription-box .ingredient__description {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 18px;
            color: #333;
            margin-left: 15px; }
        .wrap .main .main__right .contant__ingredients .prise__box {
          width: 100%;
          height: 45px;
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          border-bottom: 4px dotted #333333; }
          .wrap .main .main__right .contant__ingredients .prise__box .prise__text {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #333333; }
          .wrap .main .main__right .contant__ingredients .prise__box .prise {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #333333; }
        .wrap .main .main__right .contant__ingredients .button__box {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          margin-top: 40px; }
          .wrap .main .main__right .contant__ingredients .button__box .button__ingredient {
            width: 160px;
            height: 70px;
            background: #E14025;
            border-radius: 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            color: #FFFFFF;
            display: flex;
            border: none;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            cursor: pointer; }
          .wrap .main .main__right .contant__ingredients .button__box .button__ingredient:hover {
            background: transparent;
            border: 1px solid #E14025;
            color: #E14025;
            transition: 0.2s; }
          .wrap .main .main__right .contant__ingredients .button__box .button__buy {
            width: 70px;
            height: 70px;
            background: #E14025;
            border-radius: 16px;
            display: flex;
            border: none;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            .wrap .main .main__right .contant__ingredients .button__box .button__buy .img__buy {
              width: 40px;
              height: 40px; }

/*# sourceMappingURL=style.css.map */
